<div class="my-account sec-padding">
    <div class="container">
      <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0" style="width:450px; margin-left:380px; background-color:whitesmoke;">
        <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
          <div class="register-wrapper pr-50">
            <div class="title">
              <h3>Change Password</h3>
            </div>
            <form fxLayout="row wrap" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                    <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint *ngIf="error" style="color:red;">Old Password is wrong.</mat-hint>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                    <mat-form-field class="w-100" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Weak Password! The password's instructions are: Minimum six characters, at least one uppercase letter, one lowercase letter, one number and one special character</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1" style="margin-top: 10pt;">
                    <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="confirmPassword" required>
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Passwords do not match</mat-error>
                    </mat-form-field>
                </div>

                <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <button class="btn-project" mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid" >Change</button>
                  <p style="display:inline; margin-left:55px; font-size:12px;"><a fxShow="false" fxShow.gt-xs [routerLink]="['/pages/forgot-password']" routerLinkActive="router-link-active">Forgot Old Password?</a></p>
                </div>
  
            </form>
          </div>
        </div>
      </mat-card>
    </div>
</div>