<div class="page-wrap height-100 reset-password-page">
    <div class="reset-password-page">
      <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0" style="width:450px; margin-left:380px; background-color:whitesmoke; margin-top:40px;">
        <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
          <div class="page-wrap pr-50">
            <div class="title">
              <h3>Reset Password</h3>
            </div>
            <form fxLayout="row wrap" [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()">
  
              <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field class="w-100" appearance="outline" style="margin-top:20px;">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="Email" required>
                </mat-form-field>
              </div>
  
              <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field class="w-100" appearance="outline" style="margin-top:20px;">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password" required>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error>Weak Password! The password instructions are: Minimum six characters, at least one uppercase letter, one lowercase letter, one number and one special character</mat-error>
                </mat-form-field>
              </div>
  
              <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field class="w-100" appearance="outline" style="margin-top:25px;">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="ConfirmPassword" required>
                  <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error>Passwords do not match</mat-error>
                </mat-form-field>
              </div>
  
  
              <!--<div *ngIf="showError" class="alert alert-danger" role="alert">
                {{errorMessage}}
              </div>
              <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                {{successMessage}}
              </div>-->
  
              <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <button class="btn-project" mat-raised-button color="primary" type="submit" [disabled]="!ResetPasswordForm.valid" style="margin-left: 200px;margin-top: 5px; font-size:12px;">Reset Password</button>
              </div>
  
            </form>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  