


<div class="container">
    <div class="header-six">
        <div class="header-wrapper"  fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo" [routerLink]="['/home/two']" routerLinkActive="router-link-active" >
              <img src="./../../../../assets/images/logo-ecommerce-white.png" alt="" width="300" height="50">
  
            </div>
            <div fxLayout="row">
                <app-menu></app-menu>
                <app-shopping-widgets-three [shoppingCartItems]="shoppingCartItems"></app-shopping-widgets-three>
            </div>
  
          </div>
    </div>
  
  
  </div>
  
  