<footer class="footer-two sec-padding">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget"><a class="logo" href="index.html"><img src="assets/images/logo-ecommerce-white.png" alt="Awesome Image" width="300" height="50"></a>
          <p>Little description about the platform</p>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
          <div class="title">
            <h5>Subscribe To Our Newsletter</h5>
          </div>
          <form action="#">
            <p>Get latest updates and offers.</p>
            <div fxLayout="column" class="newsletter-widget">
              <input type="text" placeholder="Enter your email address">
              <button mat-raised-button color="primary" type="submit" class="ped-btn-footer">SUBSCRIBE</button>
            </div>
          </form>
        </div>


          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
            <div class="title">
              <h5>Contact Us</h5>
            </div>
            <div fxLayout="row" class="tel-box">
              <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
            </button>
              <div class="text">
                <p>Beirut, Lebanon</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
              <div class="icon"><i class="fa fa-phone"></i></div>
            </button>
              <div class="text">
                <p>961 1 123456</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon"> <div class="icon"><i class="fa fa-envelope"></i></div></button>
              <div class="text">
                <p><a href="#">contact@ecommerce.com</a></p>
              </div>
            </div>

            <ul fxLayout="row" class="social list-inline">
            
              <li>
                <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
                 <i color="primary" class="fa fa-facebook"></i>
               </button>
             </li> 
             <li>
               <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
                 <i class="fa fa-linkedin"></i>
              </button>
            </li> 
            <li>
             <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
               <i class="fa fa-twitter"></i>
            </button>
          </li> 
          <li>
           <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
             <i class="fa fa-google-plus"></i>
          </button>
        </li> 
             </ul>
          </div>
      </div>
  </div>
</footer>
